<a href="/">首页</a>
<a href="/books/">新传书籍</a>
<a href="/notes/">考研规划</a>
<a href="/about/">关于我们</a>

<style>
    a {
        color: white;
        text-decoration: none;
        margin-right: 2em;
    }
</style>